@import "tailwindcss";

:root {
  --spotify-green: #1DB954;
  --youtube-red: #FF0000;
  --github-purple: #6F42C1;
  --bg-dark: #121212;
  --text-light: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@keyframes pulse-slow {
  0%, 100% { opacity: 0.4; transform: scale(1); }
  50% { opacity: 0.8; transform: scale(1.2); }
}
.animate-pulse-slow {
  animation: pulse-slow 5s infinite ease-in-out;
}

body {
  @apply bg-[var(--bg-dark)] text-[var(--text-light)] font-sans;
}